<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class= "daytrips">
  <div class="jumbotron jumbotron-fluid jumbotron-trips">
  <div class="container">
    <h1 class="display-4">Day Trips</h1>
    <p class="lead">Fill Up The Tank And Explore</p>
  </div>  
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>

<div class="booyah-box col-10 offset-1">
  <h1>  Coco Beach  </h1>
  <h2> Address </h2>
  <p> Description </p>
</div>
</body>
</html>