<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class= "daytrips">
  <div class="jumbotron jumbotron-fluid jumbotron-trips">
    <div class="container">
      <h1 class="display-4">Day Trips</h1>
      <p class="lead">Fill Up The Tank And Explore</p>
    </div>  
  </div>

  <div class="kennedy booyah-box col-10 offset-1">
    <div class= "inside-booyah-box">
      <h1>  Kennedy Space Center  </h1>
      <p> Description </p>
      <a href="https://www.google.com/maps/place/Kennedy+Space+Center/@28.5728769,-80.6511695,17z/data=!3m1!4b1!4m5!3m4!1s0x88e74b95a365c6fd:0x8b7339f246f869dd!8m2!3d28.5728722!4d-80.6489808" class="btn btn-secondary" target="_blank">Directions</a>
      
    </div>
  </div>

  <div class="cocoa booyah-box col-10 offset-1">
    <div class= "inside-booyah-box">
      <h1>  Cocoa Beach </h1>
      <p> Description </p>
      <a href="https://www.google.com/maps/place/Cocoa+Beach,+FL+32931/@28.3287061,-80.6596442,13z/data=!3m1!4b1!4m5!3m4!1s0x88de1cc253486439:0xa5d8170cdab472c6!8m2!3d28.3200067!4d-80.6075513" class="btn btn-secondary"  target="_blank">Directions</a>
      
    </div>
  </div>

  <div class="augustine booyah-box col-10 offset-1">
    <div class= "inside-booyah-box">
      <h1>  St.Augustine </h1>
      <p> Description </p>
      <a href="https://www.google.com/maps/place/St.+Augustine,+FL/@29.9066163,-81.3754524,12z/data=!3m1!4b1!4m5!3m4!1s0x88e6825775df7f4f:0xc2a183178b276027!8m2!3d29.9012437!4d-81.31243418" class="btn btn-secondary"  target="_blank">Directions</a>  
    </div>
  </div>
  
  <div class="riverwalk booyah-box col-10 offset-1">
    <div class= "inside-booyah-box">
      <h1>  Tampa Riverwalk </h1>
      <p> Description </p>
      <a href="https://www.google.com/maps/place/Tampa+Riverwalk,+Tampa,+FL+33602/@27.9446724,-82.4609745,17z/data=!3m1!4b1!4m5!3m4!1s0x88c2c48c26eb8a8d:0xddcd42f2aa144500!8m2!3d27.9446677!4d-82.4587858" class="btn btn-secondary"  target="_blank">Directions</a>
    </div>
  </div>

</body>
</html>