<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="wood">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Dining In The City Beautiful</h1>
      <p class="lead">Where All Your Foodie Dreams Come True</p>
    </div>
  </div>
  <h1>Hello Foodies</h1>
</body>
</html>


