<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0 ">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events Page</title>
</head>
<body class="eventsbg">
  <section>
    <div class="leftBox">
      <div class="contentevent">
        <h1>Events Calendar</h1>
        <p>
          Whether you are in the mood for a relaxing day out with family and friends, a wild night at one of our many concert venues, or a cultural evening checking out the newest art opening. We have you covered with the best hand selected events our City Beautiful has to offer!
        </p>
      </div>
    </div>
    <div class="events">
      <ul>
        <li>
          <div class="time">
            <h2><span>June</span><br>24</h2>
          </div>
          <div class="details">
            <h3>Details</h3>
            <p>
            Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. 
            </p>
            <a href="#"> View Details </a>
          </div>
        </li>

        <li>
          <div class="time">
            <h2><span>June</span><br>24</h2>
          </div>
          <div class="details">
            <h3>Details</h3>
            <p>
            Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. 
            </p>
            <a href="#"> View Details </a>
          </div>
        </li>

        <li>
          <div class="time">
            <h2><span>June</span><br>24</h2>
          </div>
          <div class="details">
            <h3>Details</h3>
            <p>
            Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. 
            </p>
            <a href="#"> View Details </a>
          </div>
        </li>
        
      </ul>
    </div>    
  </section>
</body>
</html>