<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events Page</title>
</head>
<body class="eventsbg">
  <section>
    <div class="leftBox">
      <div class="contentevent">
        <h1>Events Calendar</h1>
        <p>
          Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. Bee in your bonnet Hand of Glory elder wand, spectacles House Cup Bertie Bott’s Every Flavor Beans Impedimenta. Stunning spells tap-dancing spider Slytherin’s Heir mewing kittens Remus Lupin. Palominos scarlet train black robes, Metamorphimagus Niffler dead easy second bedroom. Padma and Parvati Sorting Hat Minister of Magic blue turban remember my last.
        </p>
      </div>
    </div>
    <div class="events">
      <ul>
        <li>
          <div class="time">
            <h2><span>June</span><br>24</h2>
          </div>
          <div class="details">
            <h3>Details</h3>
            <p>
            Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. 
            </p>
            <a href="#"> View Details </a>
          </div>
        </li>

        <li>
          <div class="time">
            <h2><span>June</span><br>24</h2>
          </div>
          <div class="details">
            <h3>Details</h3>
            <p>
            Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. 
            </p>
            <a href="#"> View Details </a>
          </div>
        </li>

        <li>
          <div class="time">
            <h2><span>June</span><br>24</h2>
          </div>
          <div class="details">
            <h3>Details</h3>
            <p>
            Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. 
            </p>
            <a href="#"> View Details </a>
          </div>
        </li>
        
      </ul>
    </div>    
  </section>
</body>
</html>