<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">  

  <title>Document</title>
</head>

<body >

  <div class="parallax-container">
      <p class="text">Welcome To Our City</p>
    <div class="parallax">     
    </div>
      <p class="text">We Are So Much More Than What You Think</p>
    <div class="parallax2">     
    </div>
      <p class="text">Find Out Why We Are The City Beautiful!</p>
    <div class="parallax3">     
    </div>
  </div>

  <!-- <div class="hero"> 

  </div> -->

</body>
</html> 

