@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

/* @media (max-width: 480px) {
  .hero-image{
    display: none;

  }
} */


body, html {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family : 'Roboto Condensed', sans-serif;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.navbar-custom {
  background-color: black;
  overflow: hidden;
  box-shadow: 0px 15px 30px rgba(2, 66, 66, 0.7);
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color:#0B9F9F ;
}

.navbar-brand:hover {
  color: white;
}

.links {
	display: inline-block;
	float: left;
  padding: 10px;
  text-align: center;
  font-size: 20px;   
}

.links a {
  color:#0B9F9F;
}

.links a:hover {
  color: white;
}

.links .icon {
  display: none;
}

.navlinks {
  margin-bottom: 0;
}

.hero {
  position: absolute;
  height: 70%;  
  width: 100%;
  overflow: hidden;
  background: url(mural.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 0px 25px 20px rgba(2, 66, 66, 0.7);  
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  background-color: rgba(69, 82, 82, 0.7);
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.text-muted {
  color: #e7edf1!important;
}

.eventsbg {
  background: url(bg.jpg);
  background-size: cover;
}

section {
  width: 100%;
  height: 100vh;
  
}

section .leftBox {
  width: 50%;
  height: 100%;
  float: left;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  margin-top: 50px;  
}

section .leftBox .contentevent {
  color: #fff;
  background: rgba(35, 131, 134, 0.5);
  padding: 40px;
  transition: .5s;
}

section .leftBox .contentevent:hover {
  background: #e91e63;
}

section .leftBox .contentevent h1 {
  margin: 0;
  padding: 0;
  font-size: 50px;  
  font-family : 'Lobster', cursive;
}

section .leftBox .contentevent p {
  margin: 10px 0 0;
  padding: 0;
  font-size: 25px;
}

section .events {
  position: relative;
  width: 50%;
  height: 100%;
  background: rgba(35, 131, 134, 0.5);
  float: right;
  box-sizing: border-box;
}

section .events ul {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}

section .events ul li {
  list-style: none;
  background: #fff;
  box-sizing: border-box;
  height: 200px;
  margin: 15px 0;
}

section .events ul li .time {
  position: relative;
  padding: 20px;
  background: #262626;
  box-sizing: border-box;
  width: 30%;
  height: 100%;
  float: left;
  text-align: center;
  transition: .5s;
}

section .events ul li:hover .time {
  background: #e91e63;
}

section .events ul li .time h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 60px;
}

section .events ul li .time h2 span {
  font-size: 30px;
}

section .events ul li .details {
  padding: 20px;
  background: white;
  box-sizing: border-box;
  width: 70%;
  height: 100%;
  float: left;
}

section .events ul li .details h3 {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 22px;
}

section .events ul li .details p {
  position: relative;
  margin: 10px 0 0;
  padding: 0;
  font-size: 16px;
}

section .events ul li .details a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid black;
  margin-top: 15px;
  font-size: 18px;
  transition: .5s;
  float: right;
}

section .events ul li .details a:hover {
  background: #e91e63;
  color: white;
  border-color: #e91e63;
}

.jumbotron-fluid {
  background-image: url(dining.jpg);
  background-size: cover;
  background-position: center;
}

.display-4 {
  color: white;
  font-family : 'Lobster', cursive;
  text-align: center;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(35, 131, 134, 0.856);
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px; 
}

.dining-box {
  color: white;
  font-family : 'Lobster', cursive;
  text-align: center; 
  background: rgba(35, 131, 134, 0.856);
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(35, 131, 134, 0.856);
  padding: 10px; 
  margin-top: 15px;
  font-size: 50px;
}

.lead {
  color: white;
}

.jumbotron-trips {
  background-image: url(bus.jpg);
  background-size: cover;
  background-position: center;
}

.jumbotron-trips .lead {
  text-align: center;
}

.daytrips {
  background-image: url(waves.jpg);
  background-size: cover;
  
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  text-align: center;
}





.inside-booyah-box {
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(255, 255, 255, 0.541);  
  border: 1px solid #ccc;
  /* border-color: #e4e4e4 #bebebd #bebebd #e4e4e4; */
  margin-top: auto;
  margin-bottom: 0;
  padding: 5px;
  text-align: center;
}

.orlando {
  background-color: black;
}

// .wood {
//   background-image: url(wood.jpg);
//   background-size: cover;
// }

.window {
  background: url(window.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.parallax-container {
  max-width: 100%;
  margin: 0 auto;
  background: white;
  font-size: 24px;
  padding: 0px;
}

.parallax {
  background: url('orlandomural.jpg') no-repeat center;
  background-size: 100%;
  background-attachment: fixed;
  height: 550px;  
  box-shadow: 0px 15px 30px rgba(2, 66, 66, 0.7);
}

.parallax2 {
  background: url('swan1.jpg') no-repeat center;
  background-size: 100%;
  background-attachment: fixed;
  height: 500px;  
  box-shadow: 0px 15px 30px rgba(2, 66, 66, 0.7);
}

.parallax3 {
  background: url('fireworks.jpg') no-repeat center;
  background-size: 100%;
  background-attachment: fixed;
  height: 650px;  
  box-shadow: 0px 15px 30px rgba(2, 66, 66, 0.7);
}

.text {
  text-align: center;
  font-family : 'Roboto', sans-serif;
  font-size: 30px;
  color:#0B9F9F ;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.kennedy {
  background-image: url(nasa.jpg);
  background-size: cover;
  background-position: center;  
}

.cocoa {
  background-image: url(cocoa.jpg);
  background-size: cover;
  background-position: center;  
}

.augustine {
  background-image: url(augustine.jpg);
  background-size: cover;
  background-position: center;  
}

.riverwalk {
  background-image: url(riverwalk.jpg);
  background-size: cover;
  background-position: center;  
}





@media (max-width: 991px) {
  section {
    height: 100%;
    background-position: center;
  }
  section .leftBox {
    width: 100%;
    height: auto;
    float: none;
    padding: 20px;
    margin-top: 20px;
  }
  section .leftBox .contentevent p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 15px;
  }
  section .events {
    width: 100%;
    height: auto;
    background: transparent;
    float: none;    
  }
  section .leftBox .content h1 {
    font-size: 30px;    
  }
  section .events ul {
    position: relative;
    transform: translateY(0px);
    padding: 0px 20px 20px;
  }
  section .events ul li .details a {
    margin-top: 5px;
    padding: 5px;
  }
}